* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
  margin: 10px;
  padding: 10px;
}
body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
h3 {
  color: red;
  font-size: 25px;
  font-family: serif;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
